# Librerías principales de la app
streamlit
openai
pandas
plotly

# Para trabajar con PDFs
PyPDF2

# Para RAG con LangChain
langchain
langchain-openai
chromadb

# (Opcional) Si usas scikit-learn o numpy en explicabilidad
scikit-learn
numpy


